<% layout("/layouts/boilerplate") -%>

   <div class="row full-height">
        <div class="col-12 col-md-6 message-height">
    		<div class="card h-100">
				<div class="card-body scrollable-content p-3">
					<% let delay = 0 %>
					<% for(sender of uniqueSenders){ %>
						<div class="msg-card-header" data-aos="fade-down" data-aos-delay="<%= delay %>" data-aos-duration="800">
							<% delay += 400 %>
							<a href="/inbox/<%= sender._id %>">
								<p><img src="<%= sender.image.url %>" alt="profile" class="profile-image"><%= sender.username %>
								<% let n=0 %>
								<% for(usm of unSeenMsg){
									if(usm.sender.equals(sender)){
										n= n+1;
									}
								} %>

								<% if(n>0){ %>
                					<span class=" badge rounded-pill bg-danger">
                						<%= n %>
              						</span>
								<% } %>
								</p>
							</a>
						</div>
					<% } %>
					<br>
				<h4>Suggested People</h4>
				<% for(sp of suggestedUsers){ %>
					<div class="card-header">
							<p>
								<img src="<%= sp.image.url %>" alt="profile" class="profile-image">
								<%= sp.username %>&nbsp;&nbsp;
								<a href="/inbox/<%= sp._id %>" class="btn btn-sm add-btn">Start Messaging</a>
							</p>
						</div>
				<% } %>
				</div>
			</div>
		</div>
	</div>